<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Version" value="1.0.8h" />
    <add key="DefaultWatchArgs" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt; &lt;GameWatchArguments xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;   &lt;Quality&gt;720p&lt;/Quality&gt;   &lt;Is60Fps&gt;true&lt;/Is60Fps&gt;   &lt;Cdn&gt;akc&lt;/Cdn&gt;   &lt;IsVod&gt;false&lt;/IsVod&gt;   &lt;GameTitle /&gt;   &lt;PlayerPath /&gt;   &lt;PlayerType&gt;Mpv&lt;/PlayerType&gt;   &lt;StreamlinkPath /&gt;   &lt;UsestreamlinkArgs&gt;false&lt;/UsestreamlinkArgs&gt;   &lt;StreamlinkArgs /&gt;   &lt;UsePlayerArgs&gt;false&lt;/UsePlayerArgs&gt;   &lt;PlayerArgs /&gt;   &lt;UseOutputArgs&gt;false&lt;/UseOutputArgs&gt;   &lt;PlayerOutputPath /&gt; &lt;/GameWatchArguments&gt;" />
    <add key="VLCPath" value="C:\Program Files (x86)\VideoLAN\VLC\vlc.exe" />
    <add key="MPCPath" value="" />
    <add key="mpvPath" value="" />
    <add key="streamlinkPath" value="" />
    <add key="ShowScores" value="False" />
    <add key="ShowLiveScores" value="False" />
    <add key="ShowSeriesRecord" value="True" />
    <add key="ServerList" value="nhl.freegamez.gq;nhl.chickenkiller.com" />
    <add key="SelectedServer" value="nhl.freegamez.gq" />
    <add key="LanguageList" value="English;Français" />
    <add key="SelectedLanguage" value="English" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
